{{!-- <!-- ======= About Section ======= -->
  <section id="about" class="aboutprincipal">
    <div class="container">

      <div class="row justify-content-between">
        <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
          <img src="../../img/nosotros.png" class="img-fluid" alt="doctores">
        </div>
        <div class="col-lg-6 pt-5 pt-lg-0">
          <h3 data-aos="fade-up">E.S.E Hospital San Vicente de Paul de Paipa</h3>
          <p data-aos="fade-up" data-aos-delay="100">
            Con una Historia que se origina en los años 1850 a 1855 y con la asignación de su primera personería en el
            año 1971, bajo la administración de una Junta y un Sindico, nace el Hospital San Vicente de Paul del
            Municipio de Paipa; Transcurridos 149 años se transforma en Empresa Social del Estado del Orden Municipal
            bajo el acuerdo No. 022 del 30 Julio de 1999.
          </p>
          <div class="row">
            <div class="col-md-6 icono" data-aos="fade-up" data-aos-delay="100">
              <a href="servicios.html"> <img href="servicios.html" src="../../img/ico/signo-de-hospital.svg"
                  class="icoinfo"></img> </a>
              <h4>Servicios</h4>
              <p>Conozca los servicios que tenemos para ofrecer</p>
              <a href="servicios.html">
                <p>ver mas...</p>
              </a>
            </div>
            <div class="col-md-6 icono">
              <a href="contacto.html"> <img src="../../img/ico/recepcion.png" class="icoinfo"></img></a>
              <h4>Contacto</h4>
              <p>¿Tiene alguna sugerencia o quiere ponerse en contacto con nosotros?</p>
              <a href="contacto.html">
                <p>ver mas...</p>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- End About Section -->
  <!-- ======= Mision Vision Section ======= -->
  
    <div class="container6">

      
        <div class="contenedor6">
          <h1 class="titulovi">MISIÓN</h1>
          <p class="Vision-cont">
            La Empresa Social del Estado Hospital San Vicente de Paul, es una empresa de primer nivel de
            atención en salud, que cuenta con un talento humano valioso y comprometido, contribuyendo en
            el mejoramiento de la calidad de vida de nuestros usuarios y sus familias, a través de la prestación
            de servicios, enmarcados dentro del sistema de calidad en salud.


          </p>
  
        </div>

             <img src="../../img/mision.png" class="person-image">
        
     

    </div>
  
  <!-- End Mision Section -->
  <!-- ======= Vision Section ======= -->
  <div class="container7">
        <img src="../../img/vision.png" class="person-image2">

        <div class="contenedor6">
          
          <h1 class="titulovi">VISIÓN</h1>
          <p class="Vision-cont">
             En el año 2019 la Empresa Social del Estado Hospital San Vicente de Paul,
            será una empresa sólida, exitosa y ampliamente reconocida en el ámbito
            Departamental y Nacional, por el avance significativo en la implementación
            del sistema único de acreditación y el desarrollo de políticas de atención
            primaria en salud con enfoque familiar, impactando en el mejoramiento de las
            condiciones de vida de nuestra comunidad.

          </p>

        </div>

    

    </div>
  
 
  <!-- End Mision Section --> --}}


<!-- ======= About Section ======= -->
  <section id="about" class="aboutprincipal">
    <div class="container">

      <div class="row justify-content-between">
        <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
          <img src="../../img/nosotros.png" class="img-fluid" alt="doctores">
        </div>
        <div class="col-lg-6 pt-5 pt-lg-0">
          <h3 data-aos="fade-up">E.S.E Hospital San Vicente de Paul de Paipa</h3>
          <p data-aos="fade-up" data-aos-delay="100">
            Con una Historia que se origina en los años 1850 a 1855 y con la asignación de su primera personería en el
            año 1971, bajo la administración de una Junta y un Sindico, nace el Hospital San Vicente de Paul del
            Municipio de Paipa; Transcurridos 149 años se transforma en Empresa Social del Estado del Orden Municipal
            bajo el acuerdo No. 022 del 30 Julio de 1999.
          </p>
          <div class="row">
            <div class="col-md-6 icono" data-aos="fade-up" data-aos-delay="100">
              <a href="servicios.html"> <img href="servicios.html" src="../../img/ico/signo-de-hospital.svg"
                  class="icoinfo"></img> </a>
              <h4>Servicios</h4>
              <p>Conozca los servicios que tenemos para ofrecer</p>
              <a href="servicios.html">
                <p>ver mas...</p>
              </a>
            </div>
            <div class="col-md-6 icono">
              <a href="contacto.html"> <img src="../../img/ico/recepcion.png" class="icoinfo"></img></a>
              <h4>Contacto</h4>
              <p>¿Tiene alguna sugerencia o quiere ponerse en contacto con nosotros?</p>
              <a href="contacto.html">
                <p>ver mas...</p>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- End About Section -->
  <!-- ======= Mision Vision Section ======= -->
  
    <div class="container6">

      
        <div class="contenedor6">
          <h1 class="titulovi">MISIÓN</h1>
          <p class="Vision-cont">
            La Empresa Social del Estado Hospital San Vicente de Paul, es una empresa de primer nivel de
            atención en salud, que cuenta con un talento humano valioso y comprometido, contribuyendo en
            el mejoramiento de la calidad de vida de nuestros usuarios y sus familias, a través de la prestación
            de servicios, enmarcados dentro del sistema de calidad en salud.


          </p>
  
        </div>

             <img src="../../img/mision.png" class="person-image">
        
     

    </div>
  
  <!-- End Mision Section -->
  <!-- ======= Vision Section ======= -->
  <div class="container7">
        <img src="../../img/vision.png" class="person-image2">

        <div class="contenedor6">
          
          <h1 class="titulovi">VISIÓN</h1>
          <p class="Vision-cont">
             En el año 2019 la Empresa Social del Estado Hospital San Vicente de Paul,
            será una empresa sólida, exitosa y ampliamente reconocida en el ámbito
            Departamental y Nacional, por el avance significativo en la implementación
            del sistema único de acreditación y el desarrollo de políticas de atención
            primaria en salud con enfoque familiar, impactando en el mejoramiento de las
            condiciones de vida de nuestra comunidad.

          </p>

        </div>

    

    </div>
  
 
  <!-- End Mision Section -->
