
            <div class="contactanos-contenido">
               <div class="container3">
                    <div class="title"> Contacto </div>
                    <div class="container-cita">
                        <form  target="_blank"  action="https://formsubmit.co/xxjuanjose15cxx@gmail.com" method="POST">
                            
                                <div class="Detalles_usuario">
                                    <div class="input-box">
                                        <span class="details">Nombre Completo*</span>
                                        <input type="text" id="Nombre" class="controlinput" name="fname" required="" value="" ><br>
                                    </div>
                                </div>
                                <div class="Detalles_usuario">
                                    <div class="input-box">
                                        <span class="details">Asunto*</span>
                                        <input type="text" id="Asunto" class="controlinput " name="fname" required="" value="" ><br>
                                    </div>
                                </div>
                                
                          
                            <div class="Detalles_usuario">
                                <div class="input-box">
                                    <span class="details">Correo Electronico*</span>
                                    <input type="email" id="Correo Electonico" class="controlinput" name="fname" required="" value="" ><br>
                                </div>
                            </div>
                           
                            <div class="Detalles_usuario">
                                <div class="input-box">
                                    <span class="details">Mensaje*</span>
                                    <textarea class="controlinput" name="mensaje"  required="" ></textarea>
                                </div>
                            </div>

                            <div class="button">
                                <input type="submit"  value="Enviar">
                            </div>
                            
                        </form>
                  
                   </div>
                    
               </div> 
                <div class="map">
                    <div class="title"> Mapa Hospital </div>
                <div class="card">
                        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=es&amp;q=Hospital%20San%20Vicente%20de%20Paul,%20Carrera%2020,%20Paipa,%20Boyac%C3%A1+(Hospital%20San%20vicente%20de%20Paul)&amp;t=&amp;z=20&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                        </iframe>
                </div> 
            </div>
            </div>
           
       
