
        <div class="body">
            <div class="contactanos-contenido">
               <div class="formulario-contenido">
                   <div class="row">
                    <div class="titulo">
                        <h1> <strong> Contactanos</strong></h1>
                    </div>
                    <div class="formulario">
                        <form action="">
                            
                                <div class="col-md-6">
                                    <div class="estilos.form">
                                        <h6>Nombre Completo*</h6>
                                        <input type="text" id="fname" class="controlinput" name="fname" required="" value="" ><br>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="estilos.form">
                                        <h6>Asunto*</h6>

                                        <input type="text" id="fname" class="controlinput " name="fname" required="" value="" ><br>
                                    </div>
                                </div>
                                
                          
                            <div class="col-md-6">
                                <div class="estilos.form">
                                    <h6>Correo Electronico*</h6>
                                    <input type="text" id="fname" class="controlinput" name="fname" required="" value="" ><br>
                                </div>
                            </div>
                           
                            <div class="col-12">
                                <div class="estilos.form">
                                    <h6>Mensaje</h6>
                                    <textarea class="controlinput" name="mensaje"  required="" rows="3"></textarea>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="col-1" style="padding-right:0;padding-left:0;">
                                    <div class="control-group control-movil" style="text-align:center">
                                        <label class="control control-checkbox">
                                            <input type="checkbox" name="check_box_movil" id="check_box_checkout" required="">
                                            <div class="control_indicator"></div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-12 mr-top-20 pd-top-10">                       
                            <button class="btn-block botonenviar" type="submit" value="Enviar">Enviar</button>
                            </div>
                        </form>
                    </div>
                   </div>
                    
               </div> 
            </div>
            <div class="map">
                <div class="mapatexto">
                    <h1>
                        Mapa
                    </h1>
                </div>
                
                <div></div>
                <div class="card">
                        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=es&amp;q=Hospital%20San%20Vicente%20de%20Paul,%20Carrera%2020,%20Paipa,%20Boyac%C3%A1+(Hospital%20San%20vicente%20de%20Paul)&amp;t=&amp;z=20&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                        </iframe>
                </div> 
            </div>
        </div>
