<section class="carruselmayor ">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../../img/carrusel/image0.png" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 " src="../../img/carrusel/image2.png" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../img/carrusel/image1.png" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>
  <!-- <section class="sectionnosotros">
    <div class="Nosotros">
        <div class="row">
            <hr class="d-sm-none">
          </div>
          <div class="col-sm-8">
            <h1 class='f1'>Nostrosos</h1>
            <h2 class= 'f2'>E.S.E Hospital San Vicente de Paul de Paipa</h2>
            <p>Con una Historia que se origina en los años 1850 a 1855 y con la asignación de su primera personería en el año 1971, bajo la administración de una Junta y un Sindico, nace el Hospital San Vicente de Paul del Municipio de Paipa; Transcurridos 149 años se transforma en Empresa Social del Estado del Orden Municipal bajo el acuerdo No. 022 del 30 Julio de 1999.</p>
            <a class="boton" role="button" href="" target="">CÓNOCENOS</a>
            <br>
          </div>
          <div class="col-sm-4">
            <img src="./src/img/Hospi.jpg" class="nosotros" alt="aboutus">
          </div>
      </div>
    </div>
  </section> -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="row justify-content-between">
        <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
          <img src="../../img/nosotros.png" class="img-fluid" alt="doctores">
        </div>
        <div class="col-lg-6 pt-5 pt-lg-0">
          <h3 data-aos="fade-up">E.S.E Hospital San Vicente de Paul de Paipa</h3>
          <p class="parrafo" data-aos="fade-up" data-aos-delay="100">
            Con una Historia que se origina en los años 1850 a 1855 y con la asignación de su primera personería en el
            año 1971, bajo la administración de una Junta y un Sindico, nace el Hospital San Vicente de Paul del
            Municipio de Paipa; Transcurridos 149 años se transforma en Empresa Social del Estado del Orden Municipal
            bajo el acuerdo No. 022 del 30 Julio de 1999.
          </p>
          <div class="row">
            <div class="col-md-6 icono" data-aos="fade-up" data-aos-delay="100">
              <a href="servicios.html"> <img href="servicios.html" src="../../img/ico/signo-de-hospital.svg"
                  class="icoinfo"></img> </a>
              <h4>Servicios</h4>
              <p>Conozca los servicios que tenemos para ofrecer</p>
              <a href="servicios.html">
                <p>ver mas...</p>
              </a>
            </div>
            <div class="col-md-6 icono">
              <a href="contacto.html"> <img src="../../img/ico/recepcion.png" class="icoinfo"></img></a>
              <h4>Contacto</h4>
              <p>¿Tiene alguna sugerencia o quiere ponerse en contacto con nosotros?</p>
              <a href="contacto.html">
                <p>ver mas...</p>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- End About Section -->
  <!-- Start galery Section-->
  <section class="galery">
    <div class="title">
      <h3>Nuestras Instalaciones</h3>
    </div>
    <div class="row">

      <div class="column">
        <img src="../../img/galery/ese.jpg" alt="hospital1">
        <img src="../../img/galery/ese1.jpg" alt="hospital1">
        <img src="../../img/galery/ese2.jpg" alt="hospital1">
      </div>
      <div class="column">
        <img src="../../img/galery/ese3.jpg" alt="hospital1">
        <img src="../../img/galery/ese4.jpg" alt="hospital1">
        <img src="../../img/galery/ese5.jpg" alt="hospital1">
      </div>
      <div class="column">
        <img src="../../img/galery/ese6.jpg" alt="hospital1">
        <img src="../../img/galery/ese8.jpg" alt="hospital1">
        <img src="../../img/galery/ese.jpg" alt="hospital1">
      </div>
    </div>

  </section>
  <!-- End galery Section -->
  <!-- Start Publicaciones Section-->
  <div class="Publicaciones">
    <div class="col-sm-8">
      <h3 class="Publicaciones">Publicaciones</h3>
      <div class="row justify-content-center post-list">
        <div class="col-6 col-sm-6 col-md-3">
          <div class="card">
            <img src="../../img/Hospital.jpeg" class="card-img-top" alt="">
            <div class="card-body">
              <a href="https://www.hospitalpaipa.gov.co/informe-pormenorizado-junio-2021/" class="stretched-link"
                role="button">
                <h4 class="card-title">Informe Pormenorizado Junio 2021</h4>
              </a>
              <p>2 agosto, 2021</p>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-6 col-md-3">
          <div class="card">
            <img src="../../img/Lab.jpg" class="card-img-top" alt="Día Mundial de la Risa 2021">
            <div class="card-body">
              <a href="https://www.hospitalpaipa.gov.co/informe-austeridad-del-gasto/" class="stretched-link"
                role="button">
                <h4 class="card-title">Informe Austeridad del Gasto Junio 2021</h4>
              </a>
              <p>20 agosto, 2021</p>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-6 col-md-3">
          <div class="card">
            <img src="../../img/Urgencias.png" class="card-img-top" alt="Actividades-Un dia super">
            <div class="card-body">
              <a href="https://www.hospitalpaipa.gov.co/plan-anual-de-adquisiciones-2021-2/" class="stretched-link"
                role="button">
                <h4 class="card-title">Plan Anual de Adquisiciones 2021</h4>
              </a>
              <p>9 agosto, 2021</p>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-6 col-md-3">
          <div class="card">
            <img src="../../img/Urgencias.png" class="card-img-top" alt="Nueva promoción de voluntarios">
            <div class="card-body">
              <a href="https://www.hospitalpaipa.gov.co/edictos/" class="stretched-link" role="button">
                <h4 class="card-title">Edictos</h4>
              </a>
              <p>9 agosto, 2021</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
