<div class="Contenido_General">
    <div class="contenedor">
      <div class="citas" style="margin-top: 1rem;">
        <div class="row justify-content-around">
          <div class="col-md-3">
            <div class="img_servicios">
              <img src="../../img/citas.png"  alt="Nueva promoción de voluntarios">
            </div>
          </div>
          <div class="col-md-6">
            <h1 class="titulos"> Asignación de citas</h1>
            <p class="parrafos"> Para todos nuestros usuarios.
              Queremos informarles que el horario de asignación de citas, esta estipulado de la siguiente manera:</p>
            <ul>
              <li>De Lunes a Viernes de 08:00 a 11:30 am</li>
              <li>Lineas telefonicas para solicitud de servicios:</li>
              <ul>
                <li> Medicina General 3115310709</li>
                <li> Promocion y Mantenimiento de la Salud 3124348409</li>
                <li> Odontologia 3212090403</li>
             </ul>
            </ul> 
          </div>
        </div>
        
      </div>
      <div class="labclin" style="margin-top: 1rem;">
        <div class="row justify-content-around">
          <div class="col-md-3">
            <div class="img_serviciosv2">
              <img src="../../img/lab.png"  alt="Nueva promoción de voluntarios">
            </div>
          </div>
          <div class="col-md-3">
            <h1 class="titulos"> Laboratorio clinico</h1>
            <p class="parrafos">Toma de Muestras

              Lunes a Viernes
              7 am a 9 am,
              
              Entrega de Resultados
              
              Lunes a Viernes
              11:00 am 12:00 m,
              4:00 am a 5:00 pm,
              
              Entrega de Resultados Pruebas Covid
              
              11:00 am a 12:00 m.
              4:00 pm a 5:00 pm</p>
          </div>
        </div>
        
      </div> 
      <div class="labclin" style="margin-top: 1rem;">
        <div class="row justify-content-around">
          <div class="col-md-3" >
            <div class="img_serviciosv3">
              <img class="enfe" src="../../img/enfe.png"  alt="Nueva promoción de voluntarios">
            </div>
          </div>
          <div class="col-md-3">
            <h1 class="titulos"> Procedimientos</h1>
            <p class="parrafos">Toma de Muestras

              Curaciones y Retiro de Puntos

            Martes, Jueves y Sabados de:

              02:00 pm a 05:00 pm

              Cambios de Sondas

              Lunes, Miercoes Y Sabados de:

              02:00 pm a 05:00 pm

              Servicio de Inyectologia
              24 horas</p>
          </div>
        </div>
        
      </div> 
      
    </div>
    
  </div>