* {
  box-sizing: border-box;
}

.logo {
  margin: 3%;
  flex: 2 0 2;
}




#titlevision {
  color: #fff;
}

#vision p {
  color: #fff;
}

@media (max-width: 991px) {
  #vision {
    background-image: none;
  }
}

.about1 {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.container1 {
  display: flex;
  margin: 25px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container1 p {
  font-size: 15px;
  color: #4e4039;
  text-align: justify;
}
#rightcontent {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.about1 h3 {
  font-weight: 700;
  font-size: 34px;
  color: #4e4039;
}

.about1 h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
  color: #7a6960;
}

.about1 p {
  font-size: 15px;
  color: #4e4039;
  text-align: justify;
}


.Publicaciones h4 {
  text-align: center;
  font-size: 15px;
}

/*/// LOGO ///*/

.img_logo {
  background-image: url("../img/Logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 200px;
  height: 120px;
}

.icono {
  align-items: center;
  justify-content: center;
}

.icoinfo {
  width: 100px;
  margin: 0px;
  height: 100px;
  background-size: 100%;
  align-items: center;
}

.img_logov2 {
  background-image: url("../img/SanVicente.png");
  background-size: 100%;
  flex: 2 0 2;
  background-repeat: no-repeat;
  /* width: 250px;
    height: 120px; */
}

header {
  background-color: none;
  
  align-items: center;
}

.redondo {
  background-image: url("../img/Clinica.png");
  background-repeat: no-repeat;
  background-color: #BDAA09;
  background-position: center;
  background-size: 100%;
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

footer {
  color: aliceblue;
  display: flex;
  align-items: center;
  width: auto;
  height: 100%;
  margin-top: 0;
  padding: 3.5% 3.5% 3.5% 3.5%;
  background-color: #598656;
  text-align: left;
}

.f1 {
  color: #707a6f;
  width: 35%;
  height: auto;
}

.f2 {
  color: #598656;
  height: auto;
}

.aboutprincipal {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  background: linear-gradient(90deg, rgba(252,239,90,1) 0%, rgba(232,215,59,1) 43%, rgba(148,127,22,1) 100%);
  justify-content: center;
  align-items: center;
}
.about {
  display: flex;
  flex-flow: row wrap;
  height: auto;
  width: 100%;
  background: linear-gradient(90deg, rgba(252,239,90,1) 0%, rgba(232,215,59,1) 43%, rgba(148,127,22,1) 100%);
  justify-content: center;
  align-items: center;
}

.container1 {
  display: flex;
  margin: 25px;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
}

.container {
  background-color: none;
  display: flex;
  margin: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container p {
  font-size: 15px;
  color: #fff;
  text-align: justify;
}

.container h3, h4 {
  font-weight: bold;
  color: #fff;
  text-align: justify;
}

.galery {
  display: flex;
  flex-flow: row wrap;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.row {

  
  width: 100%;
  margin: 5px;
}

/*.row p{
    text-decoration-color: white;
}*/

.title {
  display: flex;
  margin: 5px;
  margin-top: 25px;
}

.column {
  flex: 25%;
  margin: 5px;
}

.column img {
  margin: 5px;
}

@media (max-width: 400px) {
  .column {
    flex: 100%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 50%;
  }
}

img {
  width: 100%;
}


.body-contacto {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding-top: 5rem;
  background: #BDAA09;
  justify-content: center;
  align-items: center;
}

.col-sm-4 {
  align-items: center;
  display: flex;
  padding: 4% 3.5% 3.5% 3.5%;
  justify-content: center;
}

.col-sm-8 {
  margin: 2% 2% 2% 2%;
}

.Publicaciones {
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 5px;
  text-align: center;
}

.galery div h3 {
  font-weight: 700;
  font-size: 34px;
  color: #4e4039;
}

.row h3 {
  text-align: center;
}



@media (max-width: 600px) {
  .carruselmayor {
    padding-top: 5rem;
    height: 800px;
  }
}

.card {
  width: 100%;
  max-height: 924px;
  max-width: 628px;
  border-radius: 20px;
  margin: 1.5em auto 1.7em auto;
  background-color: #598656;
}

.card-title {
  color: white;
}

.Publicaciones {
  color: white;
  justify-content: center;
  display: flex;
  padding: 1% 1% 1% 1%;
}

.card-img-top {
  border-radius: 18px 18px 0 0;
  height: auto;
  width: 100%;
}

.nosotros {
  border-radius: 20px;
  margin: 1.5em auto 1.7em auto;
  width: 100%;
  height: auto;
}

.Nosotros {
  justify-content: center;
  display: flex;
  padding: 2% 2% 2% 2%;
}

.boton {
  justify-content: center;
  display: flex;
  color: black
}

p {
  justify-content: space-evenly;
}

/* contactenos seccion */

.seccioncontacto {
  display: flex;
  flex-flow: row wrap;
  background-color: #BDAA09;
}

@media (max-width: 600px) {
  .seccioncontacto {
    display: flex;
    flex-flow: column wrap;
    flex: auto;
  }
}

.body {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-top: 70px;
}

.map {
  
  display: flex;
  flex-flow: column wrap;
  background-color: #598656;
  width: 50%;
  height: 100%;
  padding: 25px 30px;
  align-items: center;
  justify-content: center;
 
}

.card {
  display: flex;
  padding: 1.5%;
  width: 100%;
  height: 80%;
}

.form1 {
  display: flex;
  flex-direction: row;
}

.contactanos-contenido {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background: beige;
}

.estilos-form {
  display: flex;
  font-size: 8px;
  background-color: coral;
}

.col-md-6 {
  padding: 2%;
}

.col-12 {
  padding: 2%;
}

.h1, h1 {
  color: white;
}

.h4, h4 {
  font-size: 1.0rem;
}

.controlinput {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 50px);
  padding: .375rem .75rem;
}

/* Inicio de sesion*/

.iniciosesion {
  font-family: Verdana;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  background-image: url("../img/background-inicio-de-sesion.jpg");
  align-items: center;
  justify-content: center;
}

.form-registro {
  display: flex;
  flex-flow: column wrap;
  border-style: solid;
  border-color: #BDAA09;
  border-radius: 5px;
  margin: 25px;
  width: 50%;
  margin-top: 100px;
  background-color: white;
  border: 25px;
  justify-content: center;
  align-items: center;
}

.form-registro h4 {
  font-size: 22px;
  margin: 20px;
  color: #598656;
}

#logosesion {
  margin-top: 10px;
  width: 10%;
}

.control {
  display: flex;
  margin: 5px;
}

.botoniniciosesion {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  margin: 8px 28px;
  border-radius: 3px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #BDAA09;
}

.botoniniciosesion:hover {
  background: #598656;
}

/*servicios*/

.labclin {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: linear-gradient(90deg, rgba(136,167,110,1) 0%, rgba(255,255,255,1) 43%, rgba(193,193,193,1) 100%);
}

.img_servicios {
  background-image: url("../img/citas.png");
  background-size: 100%;
  flex: 2 0 2;
  background-repeat: no-repeat;
}

.col-12 {
  width: 100%;
  padding: 1%;
}

.Contenido_General {
  width: 100%;
  padding: 1%;
}

.citas {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: linear-gradient(90deg, rgba(136,167,110,1) 0%, rgba(255,255,255,1) 43%, rgba(193,193,193,1) 100%);
  padding: 1rem;
  padding-bottom: 1rem;
}

.contenedor {
  background-color: none;
  width: 100%;
  padding: 1rem;
  padding-top: 0.4rem;
}

.parrafos {
  text-align: justify;
  font-size: medium;
  color: rgb(7, 71, 32);
}

.titulos {
  font-weight: 300;
  color: darkgreen;
  text-align: center;
  justify-content: space-around;
}

.img_serviciosv2 {
  background-image: url("../img/lab.png");
  background-size: 100%;
  flex: 2 0 2;
  background-repeat: no-repeat;
  /* width: 250px;
    height: 120px; */
}

.img_serviciosv3 {
  width: 100%;
  display: flex;
  justify-content: center;
  /* width: 250px;
    height: 120px; */
}

.enfe {
  width: 40%;
  justify-content: center;
}

.main-container{
    
    padding: 1rem;
    width: 100%;
    height: auto;
}

.cita{
    
    display: flex;
    padding: 0.5rem;
   
}

.cita.med{
    font-weight: 100;

}

.form-control{
    display: flex;
    width: 100%;
    height: auto;
}

/*                   Signup                      */

.body-form{
       display: flex; 
       height: 100vh;
       justify-content: center;
       align-items: center;
       background: beige;
 }

 .container3{
   max-width: 700px;
   width: 100%;
   background: white;
   padding: 25px 30px;
   border-radius: 5px;
 }
    
 .container3 .title{
   font-size: 30px;
   font-weight: 500;
   position: relative;
 }

 .container3 .title::before{
   content: '';
   position: absolute;
   left: 0;
   bottom: 0;
   height: 3px;
   width: 30px;
   background: linear-gradient(90deg, rgba(29,36,0,1) 0%, rgba(195,178,20,1) 0%, rgba(22,148,45,1) 100%);
 }

 .container form .Detalles_usuario{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
 }

 form .Detalles_usuario .input-box{
    margin-bottom: 15px;
    width: cal(100%/ 2 - 20px);
 }

 .Detalles_usuario .input-box .details {
   display: block;
    font-weight: 500;
   margin-bottom: 5px;
 }


 .Detalles_usuario .input-box input{
   height: 45px;
   width: 100%;
   outline: none;
   border-radius: 5px;
   border: 1px solid #ccc;
   padding-left: 15px;
   font-size: 16px;
   border-bottom-width: 2px;
   transition: all 0.3s ease;
 }

 .Detalles_usuario .input-box input:focus,
 .Detalles_usuario .input-box input:valid{
  border-color: #12792b;
 }

 form .genero .Titulo-Genero{
   font-size: 20px;
   font-weight: 500;
 }

 form .genero .categoria{
   display: flex;
   width: 80%;
   margin: 14px 0;
   justify-content: space-between;
 }

 .genero .categoria label{
  display: flex;
  align-items: center;
 }

 .genero .categoria .dot{
   height: 18px;
   width: 18px;
   background: #d9d9d9;
   border-radius:  50%;
   margin-right: 10px;
   border: 5px solid transparent;
   transition: all 0.3s ease;
 }

 #dot-1:checked ~ .categoria label .one,
 #dot-2:checked ~ .categoria label .two,
 #dot-3:checked ~ .categoria label .three{
   border-color: #d9d9d9;
   background: #12792b;
 }

 form input[type="radio"]{
   display: none;
 }

 form .button{
   height: 45px;
   margin: 45px 0;
 }

 form .button input{
   height: 100%;
   width: 100%;
   outline: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   border: none;
   border-radius: 5px;
   letter-spacing: 1px;
   background:  rgba(22,148,45,1);
 }

 form .button input:hover{
   background: linear-gradient(90deg, rgba(29,36,0,1) 0%, rgba(195,178,20,1) 0%, rgba(22,148,45,1) 100%);
 }

 @media (max-widht: 584px) {
   .container3{
     max-width: 100%;
   }
   form .Detalles_usuario .input-box{
     margin-bottom: 15px;
     width: 100%;
   }
   form .genero .categoria{
     width: 100%;
   }
   .container3 form .Detalles_usuario{
     max-height: 300px;
     overflow-y: scroll;

   }
   .Detalles_usuario::-webkit-scrollbar{
     width: 0%;
   }
 }

 /*                   Signin                      */

 .container4{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  padding: 25px 30px;
  background: white;
  border-radius: 5px;
}

  .container4 h1{
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
  color: black;
  font-weight: 500;
  }

  .container4 .form{
    padding: 0 40px;
    box-sizing: border-box;
  }

  .form .Texto{
    font-size: 30px;
   font-weight: 500;
   position: relative;
  }

  .Texto input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    outline: none;
  }

  .Texto label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }

  .Texto span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(22,148,45,1);
    transition: .5s;
  }

  .Texto input:focus ~ label,
  .Texto input:valid ~ label{
    top: -5px;
    color: rgba(22,148,45,1);
  }

  .Texto input:focus ~ span::before,
  .Texto input:valid ~ span::before{
   width: 100%;
  }

  .olvide{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
  }

  .pass:hover{
    text-decoration: underline;
  }

  input[type="submit"]{
    width: 100%;
    height: 50px;
    outline: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   border: none;
   border-radius: 5px;
   letter-spacing: 1px;
   background:  rgba(22,148,45,1);
  }

  input[type="submit"]:hover{
    background: linear-gradient(90deg, rgba(29,36,0,1) 0%, rgba(195,178,20,1) 0%, rgba(22,148,45,1) 100%);
  }

  .iniciar{
    margin: 30px 0;
    text-align: center;
    font-size:  16px;
    color: #666666;
  }

  .iniciar a{
    color: rgba(22,148,45,1);
    text-decoration: none;
  }

  .iniciar a:hover{
    text-decoration: underline;
  }


 

/* Citas */

.container5{
  max-width: 700px;
  width: 100%;
  background: rgb(13, 121, 31);
  padding: 25px 30px;
  border-radius: 5px;
}

.Detalles_usuario .input-box .detalles {
  display: block;
  color: white;
   font-weight: 500;
  margin-bottom: 5px;
}

input[type="date"]{
  background-color: rgb(255, 255, 255); 
 
}

.container6{
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
  background: rgb(255, 255, 255);
  padding: 25px 30px;
  border-radius: 5px;
}
.contenedor2{
  display: flex;
  width: 100%;
  max-width: 500px;
  padding: 2.5rem;
}
.person-image{
  display: flex;
  
  height: 450px;
  padding: 2.5rem;
  width: 470px;
  max-width: 500px;
}

.Vision-cont{
  font-size: px;
  font-weight: 350;
} 
.titulovi{
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 700;
  color: black;
}

.container7{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  width: 100%;
  background: linear-gradient(90deg, rgba(252,239,90,1) 0%, rgba(232,215,59,1) 43%, rgba(148,127,22,1) 100%);
  padding: 25px 30px;
  border-radius: 5px;
}

.person-image2{

  display: flex;
  height: 450px;
  padding: 2.5rem;
  width: 440px;
  max-width: 500px;
}

.estilos-form{
  display: block;
  color: white;
   font-weight: 500;
  margin-bottom: 5px;
}

.map .title{
  font-size: 40px;
  font-weight: 500;
  color: beige;
  position: relative;
}

.titleCita{
  font-size: 50px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.imagen-San{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem;
}


/*citas */

.Container-citas{

  /* display: flex; */
  width: 100%;
  background: beige;
  padding: 25px 30px;
  border-radius: 5px;
}

.Citamed{
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-radius: 10px;
}

.nombrecita{
  color: black;
  font-weight: 400;
  font-size: 18px;
  padding: 1rem;
}

.logo-cita{
  max-height: 250px;
  max-width: 250px;
}

.Citaspan{
  color: rgb(27, 155, 59);
  font-size: 20px;
  font-weight: bold;
  padding: 1.5rem;
}

.input-e{
  margin-bottom: 15px;
  width: cal(100%/ 2 - 20px);
}

.citas-edit{
  text-align: center;
  background-color: none;
  font-size: 30px;
  font-weight: 500;
}


/* Navbar V2 */


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.header1 {
  background-color: white;
  height: 72px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav1 {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  margin: 0 auto;
}

.nav-link1 {
  color: #000000;
  text-decoration: none;
}

#logo-desk {
  display: flex;
  width: 45px;

}

.logonav {
  display: flex;
  font-size: 15px;
  font-weight: bold;

  align-items: center;
}

.logo-mov {
  display: none;
}

.nav-menu1 {
  display: flex!important;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item1 {
  font-size: 20px;
  margin: 0 10px;
  line-height: 80px;
  width: max-content;
}

.nav-menu-link1 {
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link1:hover,
.nav-menu-link_active1 {
  background-color: #BDAA09;
  transition: 0.5s;
  border-style: groove;
  box-shadow: #fff;
  border-radius: 10px;
}

/* La hamburguesa */
.nav-toggle1 {
  color: #BDAA09;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;

  display: none;
}

.logos {
  display: flex;
  justify-content: left;
  max-width: 80%;

}

/* MOBILE */
@media (max-width: 768px) {
  body {
    padding-top: 70px;
  }

  .logos {
    display: flex;
    justify-content: left;
    max-width: 50%;
    margin: 0 auto;
    
  }

  .header1 {
    height: 60px;
    box-shadow: darkblue;
    z-index: 1;
  }

  #logo-desk {
    display: none;
  }

  .nav1 div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5px;
  }

  #logo {
    display: none;
  }

  #logo-mov {
    display: flex;
    max-width: 70%;
    margin-left: 5px;
  }

  .nav-menu1 {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #598656;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;

    height: calc(100% - 60px);
    overflow-y: auto;

    left: 100%;
    transition: left 0.3s;
  }

  .nav-menu-item1 {
    line-height: 70px;
  }

  .nav-menu-link1:hover,
  .nav-menu-link_active1 {
    background: none;
    color: #BDAA09;
  }

  .nav-menu-nav-link-dropdown-toggle{
    color: #000000;
    text-decoration: none;
  }

  .nav-toggle1 {
    display: block;
  }

  .nav-menu_visible1 {
    left: 0;
  }

  .nav-toggle1:focus:not(:focus-visible) {
    outline: none;
  }

  .a{
    color: black;
    text-decoration: none;
  }
  
}