* {
  box-sizing: border-box;
}

.logo {
  margin: 3%;
  flex: 2 0 2;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

a {
  color: #BDAA09;
  text-decoration: none;
}

a:hover {
  color: #BDAA09;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: "Raleway", sans-serif;
}

#header {
  height: 72px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
  font-size: 30px;
  margin: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #7a6960;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

#main {
  margin-top: 72px;
}

/*--------------------------------------------------------------
# MENU
--------------------------------------------------------------*/

/**
* Desktop Navigation 
*/

.navbar {
  padding: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  color: #4e4039;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover>a {
  color: #BDAA09;
}

.navbar .getstarted, .navbar .getstarted:focus {
  background: #BDAA09;
  color: #fff;
  padding: 10px 25px;
  margin-left: 30px;
  border-radius: 50px;
}

.navbar .getstarted:hover, .navbar .getstarted:focus:hover {
  color: #fff;
  background: #BDAA09;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover>a {
  color: #BDAA09;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
  * Mobile Navigation 
  */

.mobile-nav-toggle {
  color: #7a6960;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(78, 64, 57, 0.9);
  transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #7a6960;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover>a {
  color: #BDAA09;
}

.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover>a {
  color: #BDAA09;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

#mision {
  background-image: url("../img/mision.png");
  background-size: cover;
}

#vision {
  background-image: url("../img/vision.png");
  background-size:contain;
  background-position-x: left;
  background-repeat: no-repeat;

}

#titlevision {
  color: #fff;
}

#vision p {
  color: #fff;
}

@media (max-width: 991px) {
  #vision {
    background-image: none;
  }
}

.about1 {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  justify-content: center;
}

.container1 {
  display: flex;
  margin: 25px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container1 p {
  font-size: 15px;
  color: #4e4039;
  text-align: justify;
}
#rightcontent {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.about1 h3 {
  font-weight: 700;
  font-size: 34px;
  color: #4e4039;
}

.about1 h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
  color: #7a6960;
}

.about1 p {
  font-size: 15px;
  color: #4e4039;
  text-align: justify;
}

@media (max-width: 991px) {
  .about1 .about-img img {
    max-width: 70%;
  }
}

@media (max-width: 767px) {
  .about1 .about-img img {
    max-width: 90%;
  }
}

.Publicaciones h4 {
  text-align: center;
  font-size: 15px;
}

/*/// LOGO ///*/

.img_logo {
  background-image: url("../img/Logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 200px;
  height: 120px;
}

.icono {
  align-items: center;
  justify-content: center;
}

.icoinfo {
  width: 100px;
  margin: 0px;
  height: 100px;
  background-size: 100%;
  align-items: center;
}

.img_logov2 {
  background-image: url("../img/SanVicente.png");
  background-size: 100%;
  flex: 2 0 2;
  background-repeat: no-repeat;
  /* width: 250px;
    height: 120px; */
}

header {
  background-color: rgb(187, 187, 187);
  padding: 2% 2% 2% 2%;
  align-items: center;
}

.redondo {
  background-image: url("../img/Clinica.png");
  background-repeat: no-repeat;
  background-color: #BDAA09;
  background-position: center;
  background-size: 100%;
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

footer {
  color: aliceblue;
  display: flex;
  align-items: center;
  width: auto;
  height: 100%;
  margin-top: 0;
  padding: 3.5% 3.5% 3.5% 3.5%;
  background-color: #598656;
  text-align: left;
}

.f1 {
  color: #707a6f;
  width: 35%;
  height: auto;
}

.f2 {
  color: #598656;
  height: auto;
}

.aboutprincipal {
  display: flex;
  flex-flow: row wrap;
  margin-top: 5rem;
  width: 100%;
  background: #BDAA09;
  justify-content: center;
  align-items: center;
}
.about {
  display: flex;
  flex-flow: row wrap;
  height: auto;
  width: 100%;
  background: #BDAA09;
  justify-content: center;
  align-items: center;
}

.container1 {
  display: flex;
  margin: 25px;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
}

.container {
  display: flex;
  margin: 25px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container p {
  font-size: 15px;
  color: #fff;
  text-align: justify;
}

.container h3, h4 {
  font-weight: bold;
  color: #fff;
  text-align: justify;
}

.galery {
  display: flex;
  flex-flow: row wrap;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.row {
  display: flex;
  
  width: 100%;
  margin: 5px;
}

/*.row p{
    text-decoration-color: white;
}*/

.title {
  display: flex;
  margin: 5px;
  margin-top: 25px;
}

.column {
  flex: 25%;
  margin: 5px;
}

.column img {
  margin: 5px;
}

@media (max-width: 400px) {
  .column {
    flex: 100%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 50%;
  }
}

img {
  width: 100%;
}


.body-contacto {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding-top: 5rem;
  background: #BDAA09;
  justify-content: center;
  align-items: center;
}

.col-sm-4 {
  align-items: center;
  display: flex;
  padding: 4% 3.5% 3.5% 3.5%;
  justify-content: center;
}

.col-sm-8 {
  margin: 2% 2% 2% 2%;
}

.Publicaciones {
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 5px;
  text-align: center;
}

.galery div h3 {
  font-weight: 700;
  font-size: 34px;
  color: #4e4039;
}

.row h3 {
  text-align: center;
}

.carruselmayor {
  padding-top: 5rem;
}

@media (max-width: 600px) {
  .carruselmayor {
    padding-top: 5rem;
    height: 800px;
  }
}

.card {
  width: 100%;
  max-width: 300px;
  max-height: 428px;
  border-radius: 20px;
  margin: 1.5em auto 1.7em auto;
  background-color: #598656;
}

.card-title {
  color: white;
}

.Publicaciones {
  color: white;
  justify-content: center;
  display: flex;
  padding: 1% 1% 1% 1%;
}

.card-img-top {
  border-radius: 18px 18px 0 0;
  height: auto;
  width: 100%;
}

.nosotros {
  border-radius: 20px;
  margin: 1.5em auto 1.7em auto;
  width: 100%;
  height: auto;
}

.Nosotros {
  justify-content: center;
  display: flex;
  padding: 2% 2% 2% 2%;
}

.boton {
  justify-content: center;
  display: flex;
  color: black
}

p {
  justify-content: space-evenly;
}

/* contactenos seccion */

.seccioncontacto {
  display: flex;
  flex-flow: row wrap;
  background-color: #BDAA09;
}

@media (max-width: 600px) {
  .seccioncontacto {
    display: flex;
    flex-flow: column wrap;
    flex: auto;
  }
}

.body {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-top: 70px;
}

.map {
  display: flex;
  background-color: #598656;
  width: 50%;
  height: 100%;
  padding: 1%;
  justify-content: center;
}

.card {
  padding: 1.5%;
  height: auto;
  width: 100%;
  height: 80%;
}

.form1 {
  display: flex;
  flex-direction: row;
}

.contactanos-contenido {
  display: flex;
  flex-flow: column wrap;
  background-color: #BDAA09;
  width: 50%;
  padding: 1%;
  justify-content: center;
}

.estilos-form {
  display: flex;
  font-size: 8px;
  background-color: coral;
}

.col-md-6 {
  padding: 2%;
}

.col-12 {
  padding: 2%;
}

.h1, h1 {
  color: white;
}

.h4, h4 {
  font-size: 1.0rem;
}

.controlinput {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
}

/* Inicio de sesion*/

.iniciosesion {
  font-family: Verdana;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  background-image: url("../img/background-inicio-de-sesion.jpg");
  align-items: center;
  justify-content: center;
}

.form-registro {
  display: flex;
  flex-flow: column wrap;
  border-style: solid;
  border-color: #BDAA09;
  border-radius: 5px;
  margin: 25px;
  width: 50%;
  margin-top: 100px;
  background-color: white;
  border: 25px;
  justify-content: center;
  align-items: center;
}

.form-registro h4 {
  font-size: 22px;
  margin: 20px;
  color: #598656;
}

#logosesion {
  margin-top: 10px;
  width: 10%;
}

.control {
  display: flex;
  margin: 5px;
}

.botoniniciosesion {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  margin: 8px 28px;
  border-radius: 3px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #BDAA09;
}

.botoniniciosesion:hover {
  background: #598656;
}

/*servicios*/

.labclin {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: rgb(241, 241, 241);
}

.img_servicios {
  background-image: url("../img/citas.png");
  background-size: 100%;
  flex: 2 0 2;
  background-repeat: no-repeat;
}

.col-12 {
  width: 100%;
  padding: 1%;
}

.Contenido_General {
  width: 100%;
  padding: 1%;
}

.citas {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: rgb(241, 241, 241);
  padding: 1rem;
  padding-bottom: 1rem;
}

.contenedor {
  background-color: #598656;
  width: 100%;
  padding: 1rem;
  padding-top: 5rem;
}

.parrafos {
  text-align: justify;
  font-size: medium;
  color: rgb(7, 71, 32);
}

.titulos {
  font-weight: 300;
  color: darkgreen;
  text-align: center;
  justify-content: space-around;
}

.img_serviciosv2 {
  background-image: url("../img/lab.png");
  background-size: 100%;
  flex: 2 0 2;
  background-repeat: no-repeat;
  /* width: 250px;
    height: 120px; */
}

.img_serviciosv3 {
  width: 100%;
  display: flex;
  justify-content: center;
  /* width: 250px;
    height: 120px; */
}

.enfe {
  width: 40%;
  justify-content: center;
}

.main-container{
    
    padding: 1rem;
    width: 100%;
    height: auto;
}

.cita{
    
    display: flex;
    padding: 0.5rem;
   
}

.cita.med{
    font-weight: 100;

}

.form-control{
    display: flex;
    width: 100%;
    height: auto;
}

/*                   Signup                      */

.body-form{
       display: flex; 
       height: 100vh;
       justify-content: center;
       align-items: center;
       background: beige;
 }

 .container3{
   max-width: 700px;
   width: 100%;
   background: white;
   padding: 25px 30px;
   border-radius: 5px;
 }
    
 .container3 .title{
   font-size: 30px;
   font-weight: 500;
   position: relative;
 }

 .container3 .title::before{
   content: '';
   position: absolute;
   left: 0;
   bottom: 0;
   height: 3px;
   width: 30px;
   background: linear-gradient(90deg, rgba(29,36,0,1) 0%, rgba(195,178,20,1) 0%, rgba(22,148,45,1) 100%);
 }

 .container form .Detalles_usuario{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
 }

 form .Detalles_usuario .input-box{
    margin-bottom: 15px;
    width: cal(100%/ 2 - 20px);
 }

 .Detalles_usuario .input-box .details {
   display: block;
    font-weight: 500;
   margin-bottom: 5px;
 }


 .Detalles_usuario .input-box input{
   height: 45px;
   width: 100%;
   outline: none;
   border-radius: 5px;
   border: 1px solid #ccc;
   padding-left: 15px;
   font-size: 16px;
   border-bottom-width: 2px;
   transition: all 0.3s ease;
 }

 .Detalles_usuario .input-box input:focus,
 .Detalles_usuario .input-box input:valid{
  border-color: #12792b;
 }

 form .genero .Titulo-Genero{
   font-size: 20px;
   font-weight: 500;
 }

 form .genero .categoria{
   display: flex;
   width: 80%;
   margin: 14px 0;
   justify-content: space-between;
 }

 .genero .categoria label{
  display: flex;
  align-items: center;
 }

 .genero .categoria .dot{
   height: 18px;
   width: 18px;
   background: #d9d9d9;
   border-radius:  50%;
   margin-right: 10px;
   border: 5px solid transparent;
   transition: all 0.3s ease;
 }

 #dot-1:checked ~ .categoria label .one,
 #dot-2:checked ~ .categoria label .two,
 #dot-3:checked ~ .categoria label .three{
   border-color: #d9d9d9;
   background: #12792b;
 }

 form input[type="radio"]{
   display: none;
 }

 form .button{
   height: 45px;
   margin: 45px 0;
 }

 form .button input{
   height: 100%;
   width: 100%;
   outline: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   border: none;
   border-radius: 5px;
   letter-spacing: 1px;
   background:  rgba(22,148,45,1);
 }

 form .button input:hover{
   background: linear-gradient(90deg, rgba(29,36,0,1) 0%, rgba(195,178,20,1) 0%, rgba(22,148,45,1) 100%);
 }

 @media (max-widht: 584px) {
   .container3{
     max-width: 100%;
   }
   form .Detalles_usuario .input-box{
     margin-bottom: 15px;
     width: 100%;
   }
   form .genero .categoria{
     width: 100%;
   }
   .container3 form .Detalles_usuario{
     max-height: 300px;
     overflow-y: scroll;

   }
   .Detalles_usuario::-webkit-scrollbar{
     width: 0%;
   }
 }

 /*                   Signin                      */

 .container4{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  padding: 25px 30px;
  background: white;
  border-radius: 5px;
}

  .container4 h1{
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
  color: black;
  font-weight: 500;
  }

  .container4 .form{
    padding: 0 40px;
    box-sizing: border-box;
  }

  .form .Texto{
    font-size: 30px;
   font-weight: 500;
   position: relative;
  }

  .Texto input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    outline: none;
  }

  .Texto label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }

  .Texto span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(22,148,45,1);
    transition: .5s;
  }

  .Texto input:focus ~ label,
  .Texto input:valid ~ label{
    top: -5px;
    color: rgba(22,148,45,1);
  }

  .Texto input:focus ~ span::before,
  .Texto input:valid ~ span::before{
   width: 100%;
  }

  .olvide{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
  }

  .pass:hover{
    text-decoration: underline;
  }

  input[type="submit"]{
    width: 100%;
    height: 50px;
    outline: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   border: none;
   border-radius: 5px;
   letter-spacing: 1px;
   background:  rgba(22,148,45,1);
  }

  input[type="submit"]:hover{
    background: linear-gradient(90deg, rgba(29,36,0,1) 0%, rgba(195,178,20,1) 0%, rgba(22,148,45,1) 100%);
  }

  .iniciar{
    margin: 30px 0;
    text-align: center;
    font-size:  16px;
    color: #666666;
  }

  .iniciar a{
    color: rgba(22,148,45,1);
    text-decoration: none;
  }

  .iniciar a:hover{
    text-decoration: underline;
  }


  .contenedor-errores{
    display: flex;
    
  }