{{#each errors }}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{{/each}}


<div class="body-form">
    <div class="container5">
        <div class="titleCita"> AGENDA TÚ CITA  </div>
        <div class="container-cita">
            <form action="/citas/nueva-cita" method="POST">
                <div class="imagen-San">
                    <img src="../../img/Clinica.png" class="logo-cita">
                </div>
                <div class="Detalles_usuario">
                    <div class="input-box">
                        <span class="detalles">Nombre Completo</span>
                        <input type="text" placeholder=" Ingresa Tu nombre "  name="title" >
                    </div>
                 </div>
                 <div class="Detalles_usuario">
                    <div class="input-box">
                        <span class="detalles">Celular</span>
                        <input type="text" placeholder=" Ingresa Tu celular "  name="numero" >
                    </div>
                 </div>
                 <div class="Detalles_usuario">
                    <div class="input-box">
                        <span class="detalles">Escoge la especialidad</span>
                                <select  name="description">
                                    <option >Medicina General</option>
                                    <option >Mantenimiento de la Salud</option>
                                    <option >Odontologia </option>
                                </select>
                        {{!-- <input type="text" placeholder=" Ingresa la especialidad de tu cita "  name="description" > --}}
                    </div>
                 </div>
                 <div class="Detalles_usuario">
                   <div class="input-box">
                        <span class="detalles">Fecha Cita Médica</span>
                        <input type="datetime-local" placeholder=" datetime "  name="date" >
                    </div>
                   <div class="button">
                    <input type="submit"  value="Agendar">
                </div>    
                 </div>
            </form>
        </div>
    </div>
</div>

<!-- <div class="cita">
        <div class="cita.header">
            <h1 class="cita.med"> Nueva Cita Medica</h1>
        </div>
        <div class="cita.body">
            <form action="/citas/nueva-cita" method="POST">
                <div class="form.group">
                    <input type="text" name="title" class="form-control" placeholder="Asunto" autofocus>       
                </div>
                <div class="form.group">
                    <textarea name="description" class="form.control" placeholder="Description">

                    </textarea> 
                </div>
                <div class="form.group">
                <button class="btn btn-primary btn-block" type="submit">
                        guardar
                </button>
                </div>
            </form>
        </div>
    </div>

    -->