<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital San Vicente</title>
    <!-- Estilos -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
     <!-- FONTAWESOME -->
     <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

   

</head>
<body>
<main id="paginacion" >
      {{> navigation }}
    
   
    
    <div class="main-container">
           
          {{> errors }} 
      
    
     {{> messages}}
     {{{ body }}}
    
    </div>
</main>
  
   

   <!-- Footer    -->

  <footer>
    <div class="row justify-content-center">
      <div class="col-14 col-sm-6 cold-md-10 col-lg-7">
        <h3> Hospital San Vicente de Paipa </h3>
        <p>
          <a>Contactos</a> • <a>Rendición de cuentas</a> • <a>Publicaciones</a>
        </p>
        <p> &copy;2021 <strong>Hospital San Vicente de Paipa</strong> Todos los derechos reservados</p>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="img_logov2">
          <img src="../../img/SanVicente.png" class="card-img-top" alt="Nueva promoción de voluntarios">
        </div>
      </div>
    </div>
  </footer>

  <!-- Java Script -->
   <script>
      const navToggle = document.querySelector(".nav-toggle1");
      const navMenu = document.querySelector(".nav-menu1");
      
      navToggle.addEventListener("click", () => {
        navMenu.classList.toggle("nav-menu_visible1");
      
        if (navMenu.classList.contains("nav-menu_visible1")) {
          navToggle.setAttribute("aria-label", "Cerrar menú");
        } else {
          navToggle.setAttribute("aria-label", "Abrir menuu");
        }
      });
   </script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
 <script src="https://kit.fontawesome.com/7e5b2d153f.js" crossorigin="anonymous"></script>
 
  


</body>
</html>