<div class="body-form">
    <div class="container4">
    <h1> Iniciar Sesion</h1>
    <form action="/users/signin" method ="POST">
        <div class="Detalles_usuario">
                    <div class="input-box">
                        <span class="details">Correo Electronico</span>
                        <input type="email" placeholder=" Ingresa Tu correo " name ="email" required>
                    </div>
                 </div>
                 <div class="Detalles_usuario">
                    <div class="input-box">
                        <span class="details">Contraseña </span>
                        <input type="password" placeholder=" Ingresa Tu Contraseña " name="password" required>
                    </div>
                 </div>
        <div class="olvide"> Olvido Contraseña? </div>
        <div class="button">
                    <input type="submit"  value="Iniciar sesion">
                </div>
        <div class="iniciar">
             No tiene cuenta? <a href="/users/signup"> Registrarse </a>
        </div>
    </form>
    </div>

</div>



