<section class="iniciosesion">
        <article class="form-registro">
            <form action="/users/signin" method="POST">
                <img id="logosesion" src="/src/img/logo2.png" alt="">
                <h4>Inicio de sesion</h4>
                <input class="control" type="email" name="email"  placeholder="Escriba su correo" autofocus>
                <input class="control" type="password" name="password" placeholder="Escriba su contraseña">
                <div><input type="checkbox" id="cbox2" value="second_checkbox"> <label for="cbox2">Recordar usuario</label></div>
                <input class="botoniniciosesion" type="submit" value="Iniciar sesion">
                <p><a href="/users/signup">No tengo cuenta</a></p>
            </form>
            
        </article>
</section>

