<section class="iniciosesion">
        <article class="form-registro">
            <form action="/users/signup" method="POST">
                 <img id="logosesion" src="/src/img/logo2.png" alt="">
                 <h4>Registro</h4>
                <input class="control" type="text" name="nombre"  placeholder="Nombre Completo" value="{{nombre}}">
                <input class="control" type="password" name="pass" placeholder="Escriba su contraseña" value="{{pass}}">
                 <input class="control" type="password" name="password"  placeholder="Confirmar contraseña" value="{{password}}">
                 <input type="email" class="control" name="email" placeholder="Escriba su email" value="{{email}}">
                <input type="submit" class="botoniniciosesion"  value="registrarse">
           
             </form>
        </article>
</section>

